#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #00BFA6;
    font-size: 26px;
  }

  .nav {
    display: flex;
    align-items: center;

    li {
      margin-left: 50px;  

      a {
        font-size: 26px;
        color: #00BFA6
      }
    }
  }
}