.error {
  color: white;
  background-color: red;
}

.modal_overlay_custom {
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  background: #fff;
  padding: 32px;
  border-radius: 12px;
  width: 600px;
}

.modal_header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}