.error {
  color: white;
  background-color: red;
}

.modal_overlay_custom {
  z-index: 1300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  background: #fff;
  padding: 32px;
  border-radius: 12px;
  width: 60%;
  max-height: 90vh;
  animation: modalFadeIn ease .3s;
  position: relative;
}

.modal_content {
  display: block;
  margin-top: 32px;
  margin-bottom: 60px;
  overflow: auto;
  max-height: 450px;
}

.modal_content::-webkit-scrollbar {
  width: 8px;
}

.modal_content::-webkit-scrollbar-track {
  background: transparent;
}

.modal_content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.medium {
  width: 75% !important;
}

.large {
  width: 80% !important;
}

.modal_header {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  position: absolute;
  margin-bottom: 10px;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}