.headerSession {
  padding: 52px 188px;
  background-color: #3F3D56;
  display: block;
  width: 100%;
  min-height: 824px;
}

.HeaderContent {
  margin-top: 138px;
  display: flex;
}

.HeaderContentLeft {
  flex: 1;
  margin-right: 40px;
  position: relative;
}

.HeaderContentRight {
  flex: 1;
  width: 100%;
  overflow: visible;
}

.HeadingPrimaryMain {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  /* or 117% */

  letter-spacing: -0.04em;

  color: #FFFFFF;
}

.HeadingPrimarySub {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  opacity: 0.7;
}

.HeaderButtons {
  margin-top: 60px;
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
  }
}

.HeaderHatIcon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -80%);
}

.EmcImg {
  position: absolute;
  top: 230px;
}

.btnPrimary {
  width: 160px;
  height: 60px;
  color: #fff;
  background: #00BFA6;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  cursor: pointer;
}

.btnSecondaryOutline {
  width: 160px;
  height: 60px;
  color: #fff;
  background: #3F3D56;
  border: 3px solid #FFFFFF;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  cursor: pointer;
}


.contentSection {
  padding: 126px 120px;
  background-color: #F2F2F2;
  display: block;
  width: 100%;
  // min-height: 824px;

  .contentHeading {
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 75px;
    /* identical to box height, or 156% */

    letter-spacing: -0.04em;

    color: #2F2E41;
  }

  .contentSubheading {
    margin-top: 5px;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 61px;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */

    text-align: center;
    letter-spacing: -0.04em;

    color: #2F2E41;

    opacity: 0.7;
  }

  .mentorsList {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    .mentorItem {
      margin: 10px;
      width: 386px;
      padding: 62px 60px 30px;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
      border-radius: 35px;
      text-align: center;
      min-height: 570px;
      position: relative;
      
      .mentorName {
        margin-top: 43px;
        font-weight: 600;
        font-size: 32px;
        line-height: 35px;
      }

      .mentorJob {
        font-weight: 400;
        font-size: 14px;
        line-height: 35px;
        letter-spacing: -0.04em;
        text-align: center;
        color: #000000;
      }

      .mentorAvatar {
        border-radius: 50%;
        width: 210px;
        height: 210px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .mentorCardBtn {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: inline-block;
        font-size: 24px;
        width: 200px;
        height: 56px;
      }
    }
  }
}

.contentDarkSection {
  position: relative;
  padding: 126px 120px;
  background-color: #3F3D56;
  display: block;
  width: 100%;
  min-height: 824px;

  .topLeftImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
  }

  .educationGirlImg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    opacity: 0.9;
    z-index: 0;
  }

  .contentHeading {
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .questionItem:nth-child(odd) {
    margin-right: auto;
  }

  .questionItem:nth-child(even) {
    margin-left: auto;
  }

  .questionsList {
    z-index: 100;
    position: relative;
    margin-top: 90px;
    width: 560px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 104px;

    .questionItem {
      margin-top: 20px;
      background: #E5E5E5;
      border-radius: 25px;
      width: 440px;
      height: 120px;
      padding: 10px 28px;

      .questionInfo {
        display: flex;

        .menteeAvatar {
          margin-top: 8px;
          width: 62px;
          height: 62px;
          margin-right: 14px;
          object-fit: cover;
          border-radius: 50%;
        }
        .menteeName {
          font-weight: 600;
          font-size: 24px;
          margin-top: 6px;
          color: #000000;
        }
        .question {
          font-weight: 600;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: -0.04em;
          color: #2F2E41;
        }
      }
    }
  }
}


.signUpWrapper{
  margin-top: 174px;
  display: flex;  
  justify-content: space-around;
  
  .signUpLeft {
    flex: 1;
  }

  .signUpRight {
    flex: 1;
  }

  .signUpForm {
    width: 463px;
    min-height: 506px;
    background: #575A88;
    border-radius: 35px;
    padding: 12px 65px;
    box-shadow: 10px 20px 50px rgb(0 0 0 / 30%);
    .formTitle {
      font-weight: 600;
      font-size: 48px;
      line-height: 75px;
      color: #FFFFFF;
      width: 100%;
      text-align: center;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }

    .formControl {
      width: 100%;
      height: 50px;
      background: #FFFFFF;
      border-radius: 30px;
      padding: 8px 16px;
    }

    .formControl:focus {
      outline: none;
    }

    .formLable {
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      margin-bottom: 5px;
    }

    .formFile {
      display: none;
    }

    
  }
}

label#fileLabel {
  appearance: button;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  width: 154px;
  height: 40px;
  color: red !important;
}

#signUpImage {
  width: 700px;
}

.feedBacksList {
  margin-top: 95px;
  .feedBackItem {
    margin: 10px;
    width: 387px;
    min-height: 288px;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 14px 27px 27px;
  }

  .feedBackDesc {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
  }

  .feedBackInfo {
    display: flex;
    align-items: center;
    margin-top: 26px;
  }

  .feedBackAvatar {
    width: 62px;
    height: 62px;
    margin-right: 14px;
  }

  .feedBackName {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
  }
}

.askBtn {
  margin-right: 35px;
  box-sizing: border-box;
  padding: 22px 41px;
}

.buttonGroup {
  margin-top: 45px;
  text-align: center;
}